.fundoLogin {
    background-image: url(../../assets/login.avif);
    background-repeat: no-repeat;
    min-height: 60vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    
  }
  .fundoLogin {
    background-color: #6A5ACD;

  }
